body {
  font-family: "Poppins", sans-serif;
  color: rgb(69, 68, 68);
  background-color: #ffffff;
  height: auto;
  width: auto;
}
/* Home */
.App {
  background: linear-gradient(
    -35deg,
    #a271c8,
    #90f2e1,
    #d8728a,
    #f2e2ee,
    #6db8d3
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15%;
}

h1 {
  font-weight: 400;
  color: white;
}

.name-ocupation {
  font-weight: 200;
  font-size: 34px;
  color: white;
}

.enter-button {
  margin: 10px;
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
  border: 3px solid #7237e896;
  text-decoration: none;
  background-color: #c696eb;
  box-shadow: #b4436c;
  color: white;
  transition: background-color 0.5s;
  font-size: 20px;
}

.enter-button:hover {
  animation: pulsate2 1s ease-in-out;
  text-decoration: none;
  background-color: white;
  color: #c59ae0;
}

@keyframes pulsate2 {
  0% {
    box-shadow: 0 0 25px #716aee, 0 0 50px #a43eed;
  }
}

/* About page */
.App-logo {
  width: 90px;
  height: 70px;
}
.navbar {
  border-bottom: 4px solid #bf98f6;
}

.about-title {
  margin: 30px;
  font-size: 42px;
}

.about-title:after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: #bf98f6;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 3px;
}

.App-profile {
  width: 380px;
  height: auto;
  border-radius: 200px;
}

.icons,
.icon {
  font-size: 40px;
  animation: float 5s ease-in-out infinite;
  color: #c696eb;
  text-align: center;
  padding: 1px;
}

.html {
  animation-delay: 1s;
}
.css {
  animation-delay: 1.5s;
}

.js {
  animation-delay: 2s;
}

.bs {
  animation-delay: 2.5s;
}
.figma {
  animation-delay: 3s;
}

.github {
  animation-delay: 3.5s;
}
.adobexd {
  animation-delay: 4s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* PHOTOGRAPHY */
.photo-title {
  font-size: 42px;
  text-align: center;
  margin: 30px;
}

.photo-title:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  background: #d8728a;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 3px;
}

.life {
  text-align: center;
}

.grid-container {
  columns: 3 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.image {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.description {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-size: small;

}
.cont{
  padding-bottom: 25px;
}

.copy {
  text-align: center;
}
